h1 
{
    color: blue;
    text-align: center;
}

a 
{
    padding: 20px 100px; 
    text-decoration: none;
    color: rgb(100, 100, 200);
}

nav 
{
    text-align: center;
}

nav > a 
{
    display: inline-block;
    border: 2px solid black;
    color: rgb(100, 100, 200);
}
nav > a : hover
{
    background-color: rgb(200, 200, 250);
    color: rgb(50, 50, 100);
}

.home 
{
    border-right: 2px solid black;    
}

article 
{
    
}

